.All{
    /* margin: 10px; */
    /* border-radius: 20px; */
    background-color: whitesmoke;
}

#footer{
    color: white;
    font-size: 20px;
    background-color: black;
    /* margin-top: 350px; */
    padding: 20px;
    font-size: 14px;
    /* display:contents; */
}

#f1{
    /* display:block; */
    /* height: 380px; */
    width: 100px;
}

.books{
    height: 600px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: bisque;
}

/* .barh{
    margin-top: 10px;
} */