ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
  }
  
  li {
    float: left;
    /* border-right: 1px solid #bbb; */
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #f9f4f4;
  }

  .menu{
    color: white;
    padding: 14px 16px;
  }

  #useri{
    color: white;
    float: right;
    padding: 14px 16px;
  }

  #acc{
    color: white;
    font-size: 20px;
    position:relative;
    display: none;
    float:right;
    margin-top: 55px;
    background-color:  rgba(243, 236, 236,0.8);
    border-radius: 20px;
    padding: 10px;
    width: 9%;
    text-align: center;
  }

  #useri:hover{
    color: orange;
  }

  #lelem{
    padding: 15px;
  }

  #lelem:hover{
    background-color: rgba(5, 4, 4,0.3);
    border-radius: 20px;
  }